/* src/pages/HomePage.module.css */

/* Include your CSS styles here */

.homepage {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    color: #ffffff;
}

.topLinks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    box-sizing: border-box;
}
.bottomLinks {
    display: flex;
    padding: 20px 20px;
    justify-content: center;
}

.bottomLinks a {
    margin: 0 10px;
}

.centerContainer {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Applied to all h1, p, a throughout unless overidden*/
h1 {
    font-family: "Nosifer", sans-serif;
    font-size: 2em;
    margin: 0;
}

p {
    margin: 5px 0 20px 0;
}

a {
    color: #9f9fff; /* Match link color from other pages */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
    .topLinks,
    .bottomLinks {
        flex-direction: column;
        align-items: center;
    }

    .centerContainer {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .topLinks a,
    .bottomLinks a {
        margin: 5px 0;
    }
}