/* src/pages/PrivacyPage.module.css */

/* Base styles similar to other pages */
.privacyPage {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.topLinks,
.bottomLinks {
  display: flex;
  padding: 20px;
}

/* Space out the top links */
.topLinks {
  justify-content: space-between; 
}

/* Center the bottom links */
.bottomLinks {
  justify-content: center; /* Center the links */
}

.topLinks a,
.bottomLinks a,
a {
  color: #9f9fff; /* Match link color from other pages */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}



.mainContent h2 {
  font-size: 2em;
  margin-bottom: 20px;
      font-family: Arial, sans-serif;

}

.mainContent p {
  font-size: 1.2em;
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: left;
}

.mainContent em {
  font-size: 1em;
  color: #cccccc;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
  .topLinks,
  .bottomLinks {
    flex-direction: column;
    align-items: flex-start;
  }

  .topLinks a,
  .bottomLinks a {
    margin: 5px 0;
  }

  .mainContent {
    padding: 10px;
  }

  .mainContent h2 {
    font-size: 1.5em;
  }

  .mainContent p {
    font-size: 1em;
  }
}