/* src/pages/RoutePage.module.css */

/* Base styles similar to other pages */
.routePage {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.topLinks,
.bottomLinks {
  display: flex;
  padding: 20px;
}

/* Space out the top links */
.topLinks {
  justify-content: space-between; 
}

/* Center the bottom links */
.bottomLinks {
  justify-content: center; /* Center the links */
}

.topLinks a,
.bottomLinks a,
a {
  color: #9f9fff; /* Match link color from other pages */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.routeDetails {
  text-align: left;
  margin-bottom: 30px;
}

.routeDetails h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.routeDetails h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.routeDetails p {
  font-size: 1.1em;
}

.errorMessage {
  color: #ff4d4d;
  text-align: center;
  margin-top: 50px;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
  .topLinks,
  .bottomLinks {
    flex-direction: column;
    align-items: center;
  }

  .topLinks a,
  .bottom-links a {
    margin: 5px 0;
  }

  .mainContent {
    padding: 10px;
  }

  .routeDetails h2 {
    font-size: 1.5em;
  }

  .routeDetails h3 {
    font-size: 1.2em;
  }

}