/* src/pages/RoutePage.module.css */

/* Base styles similar to other pages */
.routePage {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.topLinks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  box-sizing: border-box;
}
.bottomLinks {
  display: flex;
  padding: 20px 20px;
  justify-content: center;
}

.bottomLinks a {
  margin: 0 10px;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.videoWrapper {
  margin-bottom: 40px; /* Add margin between video items */
}

.routeDetails {
  text-align: left;
  margin-bottom: 30px;
}

.routeDetails h2 {
  font-family: "Nosifer", sans-serif;
  font-size: 2em;
  margin-bottom: 10px;
}

.routeDetails h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.routeDetails p {
  font-size: 1.1em;
}

.errorMessage {
  color: #ff4d4d;
  text-align: center;
  margin-top: 50px;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
  .topLinks,
  .bottomLinks {
    flex-direction: column;
    align-items: center;
  }

  .topLinks a,
  .bottomLinks a {
    margin: 5px 0;
  }

  .mainContent {
    padding: 10px;
  }

  .routeDetails h2 {
    font-size: 1.5em;
  }

  .routeDetails h3 {
    font-size: 1.2em;
  }
}