/* src/components/Pagination.module.css */

/* Container for the pagination */
.pagination {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Pagination buttons */
.paginationButton {
  margin: 5px;
  padding: 10px 15px;
  background-color: #3017ea; /* Matching your link color */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.paginationButton:hover {
  background-color: #4731ff; /* Slightly lighter on hover */
}

.paginationButton:disabled,
.paginationButton[disabled] {
  background-color: #555;
  cursor: not-allowed;
}

.paginationButton.active {
  background-color: #ffffff;
  color: #3017ea;
  border: 1px solid #3017ea;
}

.paginationInfo {
  margin-left: 20px;
  font-size: 1em;
  color: #ffffff;
}

/* Adjustments for small screens */
@media screen and (max-width: 600px) {
  .pagination {
    flex-direction: row;
    align-items: center;
  }

  .paginationInfo {
    margin-left: 0;
    margin-top: 10px;
  }
  
  .paginationButton{
    font-size: x-small;
  }
}