/* src/components/SearchBar.module.css */

.searchBar {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 0 20px;
  position: relative;
}

.searchBar form {
  display: flex;
  width: 100%;
}

.searchBar input[type="text"] {
  flex: 1;
  padding: 10px;
  min-width: 0;
  border: 1px solid #333;
  border-right: none;
  border-radius: 5px 0 0 5px;
  background-color: #1e1e1e;
  color: #ffffff;
  font-size: 1.2em;
}

.searchBar button {
  flex: 0 0 auto;
  padding: 10px 15px;
  border: 1px solid #333;
  border-left: none;
  border-radius: 0 5px 5px 0;
  background-color: #3017ea;
  color: #ffffff;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
}

.searchBar button:hover {
  background-color: #4431c9;
}

.searchResults {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: 100%;
  z-index: 1000;
}

.searchResults li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #333;
  color: #ffffff;
}

.searchResults li:hover {
  background-color: #2e2e2e;
}

.searchResults li:last-child {
  border-bottom: none;
}

@media (max-width: 600px) {
  .searchBar form {
    flex-direction: column;
    width: 100%;
  }

  .searchBar input[type="text"] {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #333;
    box-sizing: border-box;
  }

  .searchBar button {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #333;
  }

  .searchResults {
    position: static;
  }
}