/* src/components/SearchBar.css */

.search-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 0 20px;
  position: relative;
}

.search-bar form {
  display: flex;
  width: 100%;
}

.search-bar input[type='text'] {
  flex: 1;
  padding: 10px;
  min-width: 0;
  border: 1px solid #333;
  border-right: none;
  border-radius: 5px 0 0 5px;
  background-color: #1e1e1e;
  color: #ffffff;
  font-size: 1.2em;
}

.search-bar button {
  flex: 0 0 auto;
  padding: 5px 5px;
  border: 1px solid #333;
  border-left: none;
  border-radius: 0 5px 5px 0;
  background-color: #3017ea;
  color: #ffffff;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
}

.search-bar button:hover {
  background-color: #4431c9;
}

.search-results {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: 100%;
  z-index: 1000;
}

.search-results li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #333;
  color: #ffffff;
}

.search-results li:hover {
  background-color: #2e2e2e;
}

.search-results li:last-child {
  border-bottom: none;
}

@media (max-width: 400px) {
  .search-bar {
    flex-direction: column;
  }

  .search-bar input[type='text'],
  .search-bar button {
    width: 100%;
    border-radius: 5px;
  }

  .search-bar button {
    margin-top: 10px;
    border-top: 1px solid #333;
  }

  .search-results {
    position: static;
  }
}